.viewport {
  height: 90vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  height: 10vh !important;
  display: flex;
  flex-direction: row;
  flex: 0.1;
  justify-content: space-between;  
}

.header h1 {
  font-family: "Arial", sans-serif;
}
